<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <File name="FILEOTHER" fileName="/home/jorge-mint/tumpi-bridge-other.log ">
            <PatternLayout pattern="%d %-5p %c{2} - %m%n"/>
        </File>
        <File name="FILEINFO" fileName="/home/jorge-mint/tumpi-bridge.log ">
            <PatternLayout pattern="%d %-5p %c{2} - %m%n"/>
        </File>
        <File name="FILEERROR" fileName="/home/jorge-mint/tumpi-bridge-error.log ">
            <PatternLayout pattern="%d %-5p %c{2} - %m%n"/>
        </File>
        <Async name="ASYNCOther">
            <AppenderRef ref="FILEOTHER"/>
        </Async>  
        <Async name="ASYNCInfo">
            <AppenderRef ref="FILEINFO"/>
        </Async>  
    </Appenders>
    <Loggers>
        <Logger name="info" level="info" additivity="false">
            <AppenderRef ref="ASYNCInfo"/>
        </Logger>
        <Logger name="default" level="all" additivity="false">
            <AppenderRef ref="ASYNCOther"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="FILEERROR"/>
        </Root>
    </Loggers>
</Configuration>